img {
    margin-right: 30px;
}

.flex-container {
    display: flex;
    border: 2px solid #46c3ed;
    border-radius: 5px;
    padding: 5px 5px 10px 5px;
    background-color: rgba(132, 216, 245, 0.8);
}

.container {
    display: flex;
    border: 2px solid #46c3ed;
    border-radius: 5px;
    padding: 0 0 20px 20px;
    margin-bottom: 10px;
    background-color: rgba(132, 216, 245, 0.8);
}

.flex-child {
    flex: 1;
    padding: 15px;
    margin-right: 10px;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-image: url("resources/workshop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #07071E;
}

h1 {
    font-family: "Pacifico", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h3 {
    margin: 0 0 8px 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#get-list{
    margin: 10px 0 10px 0;
    border: 2px solid #46c3ed;
    background-color: #84d8f5;
    -webkit-appearance: none;
    font-weight: bold;
    padding: 5px;
}

#get-list:hover {
  background-color: #46c3ed;
}

.selection {
    margin-top: 5px;
}

.select-all, .deselect-all {
    border: 0;
    background: none;
    -webkit-appearance: none;
    font-size: 0.7em;
    color: #042929;
}
.select-all:hover, .deselect-all:hover {
  color: #000;
}

button:active {
    color: #FFF;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 15px;
}

th {
    background-color: rgba(25, 74, 129, 0.8);
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background: rgba(132, 216, 245, 0.8);
}

tr:nth-child(odd) {
    background: rgba(106, 176, 200, 0.8);
}